@import "https://fonts.googleapis.com/css2?family=Roboto:400;700&display=swap";

* {
    padding: 0;
    margin: 0;
}

/* Página Inicial */

body {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 32px 0;

    /*Usando display grid e g-t-c para alinhar e separar o logo do menu */
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.menu a {
    font-size: 16px;
    color: #111111;

    margin-right: 30px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #FBDFDB;
    border-radius: 30px;
}

.hero .textBox {
    width: 325px;
    align-self: center;
    margin-left: 60px;
}

.hero .textBox h1 {

    font-size: 32px;
    line-height: 38px;
    color: #111111;

    margin-bottom: 10px;
}

.hero .textBox p {
    color: rgba(0, 0, 0, 0.7);

    font-size: 18px;
    line-height: 28px;
}

.hero img {
    justify-self: center;

    margin-top: 66px;
}

main {
    margin: 50px 0; 
}

main h2 {

    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}

main .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
}

main .content img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

main .content h4 {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
}

main .content p {
    font-size: 14px;
    line-height: 16px;
    color: #777;
}

footer {
    padding: 23px 0;
    background: #eeeeee;
    font-size: 14px;
    color: #999999;
    text-align: center;
}


/* MODAL RECEITAS */

/* modal-overlay é a div onde fica a " mascara transparente " para que seja colocado a " caixa branca com o video "*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /*opacity: 0;
    visibility: hidden; */
}

/* modal é a caixa branca onde vai ser apresentado o video no iframe */

.modal {
    background-color: white;
    width: 90%;
    max-width: 660px;
    height: 413px;
    box-sizing: border-box;

    margin: 25vh auto;
    padding: 30px;
    position: relative;


    border-radius: 16px;
}

.modal-content .card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 15px;

   margin-bottom: 20px;
}

.modal-content .card h4 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    text-align: center;
}

.modal-content .card p {
    line-height: 21px;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

.modal-content .card a {
    font-size: 16px;
    color: #999999;
    text-align: center;
    display: block;

    margin-top: 60px;
}

/* Modal active */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}